
*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: red;
    padding: 3px 4px 12px 0px;
    
}
#navbar ul{
    display: flex;
    flex-direction: row;

    /* justify-content: center; */
    align-items: center;
}

#navbar li{
      list-style: none;
}

#navbar li a{
    text-decoration: none;
    padding: 13px 20px;
    color: white;
    font-size: 20px;
}
#navbar li a:hover{
    color: black;
    font-weight: bold;
}
#sponsersection h2{
    text-align: center;
    padding-top: 20px;
}
#missionsection h2{
    text-align: center;
    padding-top: 20px;
}
#introsection{
    padding-bottom: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 33px;
   height: 300px;
   background-color: red;
   background: center / cover no-repeat url("/static/dance.jpeg")
   
}
#introsection div.small{
    font-size: 27px;
    padding: 2px;
}

#missionsection{
    height: 300px;
    width: 80%;
    margin: auto;
    display: block
    
 
}

#sponsersection{
    height: 300px;
    background-color: rgb(170, 118, 22);
 
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.cards{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 29%;
    margin: 23px 17px;
    height: 210px;

}

.cards h3{
    text-align: center;
    margin: 12px;
}

#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 4px 18px;
}
#logo img{
    height: 31px;

}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-img img{
    height: inherit;
}

.card-content{
    padding: 0px 10px;
}

.card-content p{
       font-size: 19px;
}

#sponsors{
    height: 120px;
    max-width: 1000px;
    margin: auto;
}

.spimage{
    height: 122px;
    margin: 20px 42px;
}